<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>write a new chat</h3>
    <form method="POST" action="/chats">
        <input placeholder="who" name="from">
        <textarea name="msg">write the message</textarea>
        <input placeholder="add reciver" name="to">

        <button>create chat</button>
    </form>
</body>
</html>