* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    margin-left: 20px;
}

.chat{
   background-color: #ffffff;
    max-width: 500px;
    padding: 15px 18px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.chat p {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}


.msg{
background-color: #dcf8c6; /* WhatsApp green */
    color: #000;
    padding: 10px 14px;
    border-radius: 12px;
    margin: 8px 0;
    display: inline-block;
    max-width: 100%;
    font-size: 15px;

}
